@page
@model CountriesModel
@{
  ViewData["Title"] = "InfoCovid";
}

<h2>Países</h2>
<p>Última atualização: @Model.Date.ToLocalTime().ToString("g",
  System.Globalization.CultureInfo.CreateSpecificCulture("pt-Br"))
</p>

<div class="table-responsive">
  <table id="CountriesTable" class="table table-striped table-hover table-dark" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">País</th>
        <th scope="col">Casos confirmados</th>
        <th scope="col">Casos recuperados</th>
        <th scope="col">Óbitos</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in @Model.Countries)
      {
        <tr>
          <td>@item.Name</td>
          <td>@item.TotalConfirmed.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"))</td>
          <td>@item.TotalRecovered.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"))</td>
          <td>@item.TotalDeaths.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"))</td>
        </tr>
      }
      </a>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
